{%extends "base.html"%}

{%block title%}
Add New Blog
{%endblock title%}

{%block content%}
<div class="col-md-12">
    <form method="POST" action="/addnew" class="post-form">
        {%csrf_token%}
        <div class="container">
            <div class="col-12">
                <h3>Enter Details</h3>
            </div>
            <div class="mb-3">
                <label>Title:</label>
                {{form.title}}
            </div>
            <div class="mb-3">
                <label>Content:</label>
                {{form.content}}
            </div>
            <div class="mb-3">
                <label>Image:</label>
                {{form.image}}
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{%endblock content%}